@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240, 4%, 16%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;

    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-navigation-sides-offset: 0;
  }
}

@layer base {
  * {
    @apply border-border list-none;
  }
  
  body {
    @apply h-full bg-background text-foreground;
  }

  html {
    @apply h-full;
  }

  .swiper.swiper-initialized.swiper-horizontal {
    @apply px-4 -mx-4 md:mx-0 md:px-0
  }

  .my-swiper-1 .swiper-pagination {
    @apply static h-5 flex items-center justify-center mt-2
  }

  .my-swiper-1 .swiper-wrapper {
    @apply space-x-4
  } 

  .swiper .swiper-button-prev, .swiper .swiper-button-next {
    @apply after:hidden invisible md:visible w-10 h-10 -translate-y-1/2 mt-0
  }


}